extends layout

block content
  .container
    h1 About Us
    p Hello Node, seems like your are amazing.
    ul
      li Told me Sunil
      li Told by Sunita
      li Told by Arundhati
    p Yes, World is using nodejs framework.
