extends layout

block content
  .jumbotron
    .container
      h1 How May I help you?
      p Wow node is amazing
      a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
  .container
    .row
      .col-md-4
        h2 Django framework
        p Node.js is available from the NodeSource Debian 
      .col-md-4
        h2 NodeJS Framework
        p Hello Nodejs, you are amazing.
        a.btn.btn-default(href='#') View Deetails
      .col-md-4
        h2 Flask Framework
        p Hello Nodejs, you are amazing.
        a.btn.btn-default(href='#') View Deetails
        
